@model ToDoList.Models.CategoryModel

@{
    ViewData["Title"] = "CreateCategory";
}

<h1 class="text-light">New Category</h1>
<div class="row text-light d-flex justify-content-center align-content-center">
    <div class="col-md-4">
        <form asp-action="CreateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="name" class="mb-2 fs-5 control-label"></label>
                <input asp-for="name" class="mb-2 form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="w-50 btn btn-info text-dark" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-between mt-4">
    <a asp-action="CategoryList">Back to List of Categories</a>
    <a asp-action="Index">Back to List of ToDo's</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
